/* My personal style */
body, header, main, div,nav ,footer ,form{
	display: block;
	padding:0px;
	max-width: 100%;
	
}

body{
	text-align:center;
	font-family:monospace;
	margin:10px 10px 0px 10px;
	width: auto;
	min-height: 1000px;
}

/* HEADER */
.container-fluid{
	padding:0px;
	margin-left:10px;
}
.navbar-collapse{
	padding:0px;
}
.navbar-toggle{
	margin:0px;
	padding:7px 9px 6px 9px;
	
	font-size:1.5em;
}
.navbar-brand{
	border:none;
	margin:0px 20px 0px 0px;
	padding:0px;
	width:60px;
	height:52px;
}
.navbar-default{
	border: none;
	background-color: none;
	margin: 0px;
	max-width: 100%;
	width:1300px;
	padding: 10px;
	margin: auto;
}
.navbar-default:hover{
	box-shadow: 0 6px 10px rgb(51, 204, 51);
}
.navbar-collapse{
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.material_btn{
	padding:5px 2px;
	border-bottom:5px solid #eeeeee;
	margin-right:10px;
	
}
.btn-default{
	margin-left:2px;
}
.btn-default:hover{
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.42);
	background: rgba(0, 102, 255, 0.7);
	border-color:rgb(0, 102, 255);
}
.red:hover{
	border-bottom:5px solid rgb(255, 26, 26);
}
.orange:hover{
	border-bottom:5px solid rgb(255, 140, 26);
}
.blue:hover{
	border-bottom:5px solid rgb(0, 191, 255);
}
.green:hover{
	border-bottom:5px solid rgb(51, 204, 51);
}
.active{
	background-color: rgba(51, 204, 51, 0.6);
	font-size:1em;
	color: rgb(0, 0, 0);
}
nav ul li{
	
}
nav ul li:hover{
	
}
.material_btn_primary{
	background-color: rgba(51, 105, 232,0.9);
}
.material_btn_primary:hover{
	color: rgba(51, 105, 232,1);
}

/* MAIN Body */

#main{
	border:1px solid rgb(51, 204, 51);
	border-radius: 2em;
	max-width: 100%;
	display:inline-block;
	width:1300px;
	margin: 15px 5px 5px 5px;
	min-height: 220px;
	padding: 10px;
}
form .btn{
	padding-right:5px;
}
.btn-lg{
	font-size: 22px;
}
form{
	margin: auto;
	margin-top: 10px;
	max-width: 800px;
	text-align: center;
}
article ol li{
	text-align: left;
}
label {
    cursor: pointer;
}

button{
	float: right;
}
.thumbnail{
	height:300px;
}
.thumbnail>img{
	height:125px;
	line-height:1;
}
.caption{
	height:175px;
}
.table-bordered > tbody > tr:hover ,
.table-bordered > tbody > tr:focus{
	background-color: rgba(255, 26, 26,0.3);
}
.table-bordered > thead > tr:hover{
	background-color: rgba(255, 26, 26,0.7);
}
/* The Footer */

footer{
	max-width: 100%;
	display:inline-block;
	width:1300px;
}
.modal-footer{
	background-color:rgb(230, 230, 230);
	list-style:none;
	text-align:center;
}
.modal-footer li{
	display:inline;
	text-decoration:none;
}
.modal-footer:hover{
	box-shadow: 0 6px 10px rgb(51, 204, 51);
}
.imglogo{
	width:auto;
	height:22px;
}

/* ---O--- Responsive Layout ---O--- */


@media screen and (max-width:767px){/*( from bootstrap.min.css ) */
	body{
		width: auto;
	}
	.navbar-collapse{
	padding:0px;
	}
		.material_btn:hover{
		box-shadow:none;
	}
}

@media screen and (max-width: 420px){
	body{
		width: auto;
	}

	
}